@font-face {
    font-family: 'GothamProBold';
    src: local("GothamPro-Bold"),
        url('../font/GothamPro-Bold.woff') format("woff"),
        url('../font/GothamPro-Bold.woff2') format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: local("Montserrat-Bold"),
        url('../font/Montserrat-Bold.woff') format("woff"),
        url('../font/Montserrat-Bold.woff2') format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: local("Montserrat-SemiBold"),
        url('../font/Montserrat-SemiBold.woff') format("woff"),
        url('../font/Montserrat-SemiBold.woff2') format("woff2");
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F0F1F2;
    color: #33312C;

}

h2 {
    font-family: 'GothamProBold';
    color: #000000;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
}

.wrapper {
    max-width: 1169px;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    padding: 100px 0;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
}

.plagination-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 178px;
    height: 42px;
    background: transparent;
    border: none;
    box-sizing: border-box;


    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: skew(-20deg);
        border: 1px solid #DADADA;
        border-radius: 5px;
        z-index: -1;
    }

    &:hover {
        opacity: 0.7;
    }

    // .plagination-btn__text

    &__text {
        font-family: 'GothamProBold';
        font-size: 14px;
        text-transform: uppercase;
        color: #191925;
    }
}

.bookmaker {

    // .bookmaker__list

    &__list {
        margin: 23px 0;
        flex-direction: column;
    }

    // .bookmaker__item

    &__item {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 18px 30px 18px 38px;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    // .bookmaker__number

    &__number {
        font-family: 'MontserratSemiBold';
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #3E3B4A;
        margin-right: 38px;
        cursor: default;
    }

    // .bookmaker__name

    &__name {
        text-transform: none;
        font-family: 'MontserratBold';
        font-size: 16px;
        margin-left: auto;
        width: 86px;
        display: inline-block;
        text-align: left;
        margin-right: 29px;
    }

    // .bookmaker__rating

    &__rating {
        display: flex;
        align-items: center;
        margin-right: 63px;
        cursor: default;
    }

    // .bookmaker__star

    &__star {
        width: 21px;
        height: 21px;
        fill: #C1C0CD;

        &_active {
            fill: #F0BB65;
        }

        &:not(:last-child) {
            margin-right: 7px;
        }
    }

    // .bookmaker__bonus

    &__bonus {
        display: flex;
        align-items: center;
        margin-right: 165px;
        cursor: default;
    }

    // .bookmaker__prize

    &__prize {
        width: 19px;
        height: 19px;
        fill: #F0BB65;
        margin-right: 14px;
    }

    // .bookmaker__price

    &__price {
        font-family: 'MontserratBold';
        font-size: 16px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background: transparent;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'MontserratSemiBold';
        font-weight: 600;
        font-size: 14px;
        color: #191925;

        &:hover {
            opacity: 0.7;
        }
    }

    // .bookmaker__reviews

    &__reviews {
        width: 130px;
        height: 35px;
        border: 1px solid #67BC6D;
        margin-right: 23px;
    }

    // .bookmaker__overview

    &__overview {
        width: 87px;
        height: 35px;
        border: 1px solid #DADADA;
        margin-right: 23px;
    }

    // .bookmaker__link

    &__link {
        width: 107px;
        height: 35px;
        background: #E2455A;
        color: #FFFFFF;
    }
}

.forecasts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 88px;

    &__plagination {
        margin-top: 7px;
    }
}

.last-forecasts {
    flex-basis: 66%;

    // .last-forecasts__title

    &__title {
        margin: 0;
        margin-bottom: 32px;
    }

    // .last-forecasts__cards

    &__cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .last-forecasts__card

    &__card {
        width: 380px;
        height: 225px;
        padding: 13px;
        padding-top: 16px;
        background: #FFFFFF;
        box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        margin-bottom: 16px;
        cursor: pointer;
    }
}

.card {

    // .card__body

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #F5F5F6;
            bottom: 0;
            left: 0;
        }
    }

    // .card__disciplines

    &__disciplines {
        font-family: 'MontserratBold';
        font-weight: bold;
        font-size: 11px;
        line-height: 24px;
        color: #5A3EC4;
    }

    // .card__name

    &__name {
        font-family: 'MontserratSemiBold';
        font-size: 18px;
        line-height: 24px;
        text-transform: none;
        margin: 0;
        margin-bottom: 16px;
    }

    // .card__info

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .card__match

    &__match {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
    }
}

.user {
    display: flex;
    align-items: center;

    // .user__avatar

    &__avatar {
        width: 38px;
        height: 38px;
        object-fit: cover;
        margin-right: 10px;
    }

    // .user__name

    &__name {
        font-family: 'MontserratSemiBold';
        text-transform: none;
        font-size: 14px;
        line-height: 24px;
        color: #C1C0CD;
    }
}

.coefficient {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    // .coefficient__count

    &__count {
        font-family: 'MontserratSemiBold';
        font-size: 18px;
        color: #403E51;
        text-transform: none;
    }

    // .coefficient__title

    &__title {
        font-family: 'MontserratSemiBold';
        font-size: 11px;
        color: #C1C0CD;
    }
}

.club {
    display: flex;
    align-items: center;

    &:last-child {
        flex-direction: row-reverse;

        img {
            margin-left: 9px;
        }
    }

    // .club__emblem

    &__emblem {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    // .club__name

    &__name {
        font-family: 'MontserratSemiBold';
        font-size: 16px;
        line-height: 24px;
        color: #403E51;
        text-transform: none;
    }
}

.match-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    // .match-time__day

    &__day {
        font-family: 'MontserratSemiBold';
        font-size: 11px;
        color: #C1C0CD;
    }

    // .match-time__hour

    &__hour {
        font-family: 'MontserratSemiBold';
        font-size: 18px;
        color: #403E51;
    }
}

.sports-disciplines {
    flex-basis: 25%;

    // .sports-disciplines__nav

    &__list {
        margin: 0;
        margin-bottom: 32px;
        margin-top: 4px;
    }

    // .sports-disciplines__name

    &__name {
        font-family: 'GothamProBold';
        font-size: 16px;
        color: #7A798A;
        margin-left: 13px;
        cursor: pointer;

        // .sports-disciplines__name_active

        &_active {
            color: #5A3EC4;
        }
    }
}

.promo {
    width: 383px;
    height: 466px;
    overflow: hidden;
    border-radius: 15px;

    // .promo__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}